.input-rounded
	border-radius: 50px
	margin-bottom: 30px
	padding: 0px 20px
	font-size: 18px
	font-family: Arial
	height: 45px

.select-control
	width: 100%
	display: block
	border: 0px
	
	&:focus,&:select
		outline: none
    
        
.select-rouded
	margin: 10px 0
	padding: 15px 30px
	color: #222

	&:focus
		outline: none

.input-mobile
	background-color: transparent
	border: 0px
	border-radius: 0px
	box-shadow: none
	color: #fff
	height: 50px

	border-bottom: 1px solid rgba(255, 255, 255, .3)

	&::-webkit-input-placeholder
		color: #fff

	&:-moz-placeholder
		color: #fff

	&::-moz-placeholder
		color: #fff
	
	&:focus, &:active, &:visited
		outline: none
		box-shadow: 0px
		
