@import ../libs/bootstrap/stylesheets/bootstrap/variables

@import ../libs/bootstrap/stylesheets/bootstrap/mixins

@import components/buttons

@import components/inputs

main
    min-height: 100vh
    background: -webkit-linear-gradient(#0396E0, #41CFED)
    background: -o-linear-gradient(#0396E0, #41CFED)
    background: linear-gradient(#0396E0, #41CFED)
        
    
.logo
    display: block
    margin: 0px auto 20px auto
    width: 126px
        
.form-login
    @include make-md-column(4)
    @include make-md-column-offset(4)
    
    font-family: 'Open Sans Condensed', sans-serif
    font-size: 1.4em
    margin-top: 80px
    
    .panel
        border: 0px
        box-shadow: none
        background-color: transparent
        color: #fff

        .input-mobile
            font-size: 1em
            margin-bottom: 20px
        .panel-footer
            background-color: transparent
            border: 0

            a
                display: inline-block
                padding: 10px 20px
                color: #0B5894
                text-decoration: none
        
        
