.menu 
	positon: absolute
	top: 0px
	left: 0px
	height: 100vh
	width: 300px
	background: #0883EA
	float: left
	ul
		position: relative
		margin: 0px
		padding: 0px
		width: 100%
		list-style: none
		li
			display: block
			width: 100%
			padding: 10px 20px
			min-height: 50px
			border-bottom: 1px solid rgba(0,0,0,.1)
			
			&:first-of-type
				border-top: 1px solid rgba(0,0,0,.1)
			a
				text-decoration: none
				color: #fff

main
	overflow-x: hidden