@import ../components/colors
@import ../libs/bootstrap/stylesheets/bootstrap/variables
@import ../libs/bootstrap/stylesheets/bootstrap/mixins



body, html
	color: $color-font
	height: 100%
	width: 100%
	background: #0080DA
main
	@include container-fixed()
	display: table
	padding: 0px
	height: 100%
	width: 100%

	.content
		@include make-row()
		display: table-row
		height: 100%
	
		#side-menu
			@include make-md-column(2)

			display: table-cell
			vertical-align: top
			color: $color-font-light
			padding: 0px
			height: 100%
			
			h1
				text-align: center
				margin: 0px
				background-image: linear-gradient(to bottom, #fff, #E7E7E7)
				padding: 10px 0px
				
				span
					font-size: .5em
					color: #fff
					font-family: 'Open Sans Condensed', sans-serif
					position: absolute
					top: 2px
					right: 30px
			
			ul
				list-style: none
				width: 100%
				margin-top: 15px
				padding: 0

				li
					width: 95%
					
					margin: 10px auto
					height: 40px
					
					padding: 10px 30px
					background-color: rgba(255, 255, 255, .8)
					
					border-radius: 50px
					a 
						color: $primary
						text-decoration: none
					
					&:hover
						background-color: #fff
						transition: .4s background-color	
					

		#page-content
			@include make-md-column(10)

			display: table-cell
			vertical-align: top
			background-color: $background-light
			height: 100%
			
			header
				@include make-row()

				background-image: linear-gradient(to bottom, #fff, #E7E7E7)
				border-bottom: 0px
				height: 60px

				.search-area
					@include make-md-column(5)
					margin-top: 10px

					.input-search
						outline: none
						vertical-align: center
						width: 400px
						border: 0px
						padding: 10px 5px
					
				.nav-area
					@include make-md-column(7)
					ul
						list-style: none
						float: right
						margin-top: 20px
						margin-right: 10px

						li
							float: left
							margin-left: 25px
							vertical-align: center
							a
								text-decoration: none


								.glyphicon
									color: $background-dark
									width: 30px
									position: relative

								.label-primary
									background-color: $primary
									position: absolute
									top: 12px
									margin-left: 8px

			#main-content
				
				.title-page
					@include make-md-column(12)
					
					h1 
						font-size: 26px
						vertical-align: center
						background-color: #F8F8F8
						margin: 10px 0px
						padding: 10px 20px
						box-shadow: 1px 2px 6px rgba(0,0,0,.1)
						border-radius: 5px

						span
							font-size: .6em
							font-style: italic
							color: #B0B0B0

			footer
				height: 60px
				position: absolute
				bottom: 10px


